# UE5 Standard Ignore
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Script/
Content/BlackMythWukong/
Content/Enemy_Goblin/
Content/EuropeanBeech/
Content/MSPresetsg/
Content/ProceduralNaturePack/
.vscode/
.vs/
*.sln
*.xcodeproj
*.xcworkspace